<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FormRobotControlServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WindowsFormsApplication6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication6.Properties.Settings.ConnectionString_DataBase_RightLeg_extracted"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Manuel.Rixen\Documents\GitHub\DataBase\DataBase\Database2.mdf;Initial Catalog=Database2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication6.Properties.Settings.ConnectionString_DataBase"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Manuel.Rixen\Documents\GitHub\DataBase\DataBase\Database1.mdf;Initial Catalog=Database1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FormRobotControlServer.Properties.Settings.ConnectionString_DataBase"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Manuel.Rixen\Documents\GitHub\DataBase_RobotControl\DataBase\DB_RobotControl.mdf;Initial Catalog=Database1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <FormRobotControlServer.Properties.Settings>
            <setting name="MAX_TABLE_AMOUNT" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MIN_TABLE_AMOUNT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SAMPLE_TIME" serializeAs="String">
                <value>0.013</value>
            </setting>
            <setting name="DEFAULT_SAMPLE_TIME_FACTOR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MAX_ALIVE_SIGNAL_PAUSE" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FILE_SAVE_PATH" serializeAs="String">
                <value>C:\\Users\\Manuel.Rixen\\Desktop\\</value>
            </setting>
            <setting name="sensorAmount" serializeAs="String">
                <value>2</value>
            </setting>
        </FormRobotControlServer.Properties.Settings>
        <WindowsFormsApplication6.Properties.Settings>
            <setting name="MAX_TABLE_AMOUNT" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MIN_TABLE_AMOUNT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SAMPLE_TIME" serializeAs="String">
                <value>0.013</value>
            </setting>
            <setting name="DEFAULT_SAMPLE_TIME_FACTOR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MAX_ALIVE_SIGNAL_PAUSE" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FILE_SAVE_PATH" serializeAs="String">
                <value>C:\\Users\\Manuel.Rixen\\Desktop\\</value>
            </setting>
            <setting name="sensorAmount" serializeAs="String">
                <value>2</value>
            </setting>
        </WindowsFormsApplication6.Properties.Settings>
    </applicationSettings>
</configuration>